<div class="flex flex-col justify-between h-full">
    <div class="cliente-container flex flex-col gap-2 p-2 sm:p-4">
        <div class="cliente-header mb-2">
            <span class="text-2xl sm:text-3xl font-semibold text-gray-500">Asegurados</span>
        </div>
        <div class="cliente-body">
            <!-- Config -->
            <div class="flex flex-col sm:flex-row sm:justify-between gap-3 mb-4">
                <div class="flex items-center text-sm sm:text-base">
                    Mostrar&nbsp;
                    <select class="select h-10 focus:outline-0 outline-0 focus-within:outline-0"
                        (change)="onChangeViewValue($event)">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>&nbsp;elementos
                </div>
                <div class="flex flex-col sm:flex-row gap-2">
                    <button class="btn btn-soft btn-accent w-full sm:w-auto text-sm sm:text-base" 
                        onclick="modal_carga_masiva.show()">
                        <ng-icon name="heroUserPlus"></ng-icon> 
                        <span class="hidden sm:inline">Carga Masiva</span>
                        <span class="sm:hidden">Cargar</span>
                    </button>
                    <button class="btn btn-soft btn-primary w-full sm:w-auto text-sm sm:text-base" 
                        (click)="abrirModalRegistroNuevo()">
                        <ng-icon name="heroUserPlus"></ng-icon>
                        <span class="hidden sm:inline">Registrar Asegurados</span>
                        <span class="sm:hidden">Registrar</span>
                    </button>
                </div>
            </div>
            <!-- Acordion collapse -->
            <div class="bg-base-100 border-base-300 collapse collapse-arrow border mb-5">
                <input type="checkbox" [checked]="true" class="peer" />
                <div class="collapse-title">
                    <div class="flex gap-2 items-center">
                        <ng-icon name="heroFunnel"></ng-icon>
                        <span class="text-sm sm:text-base text-gray-700">Búsqueda Filtrada</span>
                    </div>
                </div>
                <div class="collapse-content">
                    <div class="flex flex-col sm:flex-row gap-3 sm:gap-5">
                        <label class="input w-full">
                            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                                    stroke="currentColor">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <path d="m21 21-4.3-4.3"></path>
                                </g>
                            </svg>
                            <input #filtroTexto type="search" required placeholder="Buscar..."
                                [disabled]="(!listaAsegurados || listaAsegurados.length <= 0) && registrosTotales <= 0" />
                        </label>
                        <!-- <input type="date" class="input" [disabled]="(!listaAsegurados || listaAsegurados.length <= 0) && registrosTotales <= 0" /> -->
                    </div>
                </div>
            </div>
            <!-- Tabla de datos -->
            <div class="overflow-x-auto" *ngIf="listaAsegurados && listaAsegurados.length > 0; else sinDatos">
                <table class="table">
                    <thead>
                        <tr>
                            <th>N.</th>
                            <th>Nombre</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Fecha Nacimiento</th>
                            <th>Edad Actual</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let asegurado of listaAsegurados; let i = index">
                            <tr>
                                <td>{{ (filtros.paginaActual - 1) * filtros.tamanioPagina + (i + 1) }}</td>
                                <td>{{ asegurado.nombre }}</td>
                                <td>{{ asegurado.cedula }}</td>
                                <td>{{ asegurado.telefono }}</td>
                                <td>{{ asegurado.fechaNacimiento }}</td>
                                <td>{{ getEdad(asegurado.fechaNacimiento) }}</td>
                                <td class="flex gap-2">
                                    <button class="btn btn-soft btn-success p-3" (click)="abrirDetalleAsegurado(asegurado.idAsegurado)"><ng-icon
                                            name="heroEye"></ng-icon></button>
                                    <button class="btn btn-soft btn-info p-3" (click)="abrirModalEditar(asegurado)"><ng-icon
                                            name="heroPencilSquare"></ng-icon></button>
                                    <button class="btn btn-soft btn-error p-3" (click)="eliminarAsegurado(asegurado)"><ng-icon
                                            name="heroTrash"></ng-icon></button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <ng-template #sinDatos>
                <div class="flex gap-2 items-center w-full justify-center">
                    <ng-icon name="heroExclamationTriangle"></ng-icon>
                    <p class="text-gray-700 italic">No hay datos para visualizar</p>
                </div>
            </ng-template>
        </div>
    </div>
    <app-paginador [paginaActual]="filtros.paginaActual" [tamanioPagina]="filtros.tamanioPagina"
        [registrosTotales]="registrosTotales" [registrosFiltrados]="registrosFiltrados"
        (paginaCambiada)="onPageChange($event)" [seFiltra]="seFiltra"></app-paginador>
</div>

<!-- Vistas parciales (Modales) -->
<app-asegurados-carga-masiva (submitEvent)="EventoExitoso($event)"></app-asegurados-carga-masiva>
<app-modal-seguros *ngIf="aseguradoSeleccionado" [id]="aseguradoSeleccionado" (cerrar)="cerrarModal()"></app-modal-seguros>
<app-registro-asegurado [aseguradoUpdt]="aseguradoEditar" (submitEvent)="EventoExitoso($event)"></app-registro-asegurado>


